<ActionBar title="My App" class="action-bar"> </ActionBar>
<GridLayout class="page">
    <ListView [items]="medias" class="list-group">
      <ng-template let-item="media">
        <CardView ripple="true" margin="5" class="whiteCard">
          <Label
            [id]="media.id"
            [nsRouterLink]="['/media', media.id]"
            [text]="media.title"
            class="list-group-item"
            (swipe)="onSwipe($event)"
          ></Label>
        </CardView>
      </ng-template>
    </ListView>
  </GridLayout>